@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white: #ffffff;
  --primary-backgr-cl: #2f303a;
  --accent-cl: #2196f3;
  --black: #000000;
  --transp-white: rgba(255, 255, 255, 0.6);
  --border: #ececec;
  --secondary-backgr-cl: #f5f4fa;
  --main-btn-hover: #188ce8;
  --border-portfolio: #eeeeee;
  --client-color: #afb1b8;
  --social-f-col: rgba(255, 255, 255, 0.1);
  --main-font: "Roboto", sans-serif;
  --secondaty-font: "Raleway", sans-serif;
  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__title,
.specificity__title--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contacts__mail,
.contacts__phone, .nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  -webkit-transition: color var(--cubic);
  transition: color var(--cubic);
}

.footer__logo, .header__logo {
  font-family: var(--secondaty-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--accent-cl);
}

.address__phone, .address__mail, .address__text, .specificity__text {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.to-do__title,
.team__title,
.clients__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
}

body {
  font-family: var(--main-font);
  color: var(--primary-text-color);
}

textarea {
  resize: none;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.portfolio__container, .footer__container, .clients__container, .team__container, .to-do__container, .specificity__container, .hero__container, .header__container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio, .footer, .clients, .team, .to-do, .specificity {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero__btn {
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--accent-cl);
  cursor: pointer;
  -webkit-transition: background-color var(--cubic);
  transition: background-color var(--cubic);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--main-btn-hover);
}

.portfolio__btn {
  border: none;
  border-radius: 4px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--secondary-backgr-cl);
  cursor: pointer;
  -webkit-transition: background-color var(--cubic), color var(--cubic), -webkit-box-shadow var(--cubic);
  transition: background-color var(--cubic), color var(--cubic), -webkit-box-shadow var(--cubic);
  transition: background-color var(--cubic), color var(--cubic), box-shadow var(--cubic);
  transition: background-color var(--cubic), color var(--cubic), box-shadow var(--cubic), -webkit-box-shadow var(--cubic);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  color: var(--white);
  background-color: var(--accent-cl);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.subscribe__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  gap: 10px;
  -webkit-transition: background-color var(--cubic);
  transition: background-color var(--cubic);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--accent-cl);
  cursor: pointer;
  transition: background-color var(--cubic);
}
.subscribe__btn:hover, .subscribe__btn:focus {
  background-color: var(--main-btn-hover);
}

.modal__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--accent-cl);
  cursor: pointer;
  -webkit-transition: background-color var(--cubic);
  transition: background-color var(--cubic);
}
.modal__btn:hover, .modal__btn:focus {
  background-color: var(--main-btn-hover);
}

.modal__btn-close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  right: 0;
  -webkit-transform: translate(-8px, 8px);
          transform: translate(-8px, 8px);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: fill var(--cubic);
  transition: fill var(--cubic);
}
.modal__btn-close:hover, .modal__btn-close:focus {
  fill: var(--accent-cl);
}

.specificity__space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-backgr-cl);
  border-radius: 4px;
  margin-bottom: 30px;
}

.contacts__mail,
.contacts__phone {
  color: var(--secondary-text-color); /*Специфікація*/
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; /*SVG*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /*SVG*/
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.team__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.team__badge {
  fill: var(--client-color);
  -webkit-transition: fill var(--cubic);
  transition: fill var(--cubic);
}

.team__network-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color var(--cubic);
  transition: background-color var(--cubic);
}
.team__network-link:hover, .team__network-link:focus {
  background-color: var(--accent-cl);
}

.team__network-link:hover .team__badge,
.team__network-link:focus .team__badge {
  fill: var(--white);
}

.join__badge {
  fill: var(--client-color);
  -webkit-transition: fill var(--cubic);
  transition: fill var(--cubic);
}

.join__badge--fill {
  fill: var(--white);
}

.join__network-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color var(--cubic);
  transition: background-color var(--cubic);
}
.join__network-link:hover, .join__network-link:focus {
  background-color: var(--accent-cl);
}

.join__network-link--background {
  background-color: var(--social-f-col);
  -webkit-transition: background-color var(--cubic);
  transition: background-color var(--cubic);
}

.clients__icon {
  display: block;
  fill: currentColor;
  width: 106px;
  height: 60px;
}

.modal__icon-close {
  background-color: var(--white);
}

.modal__symbol {
  position: absolute;
  top: 4px;
  left: 20px;
}

.modal__icon {
  position: absolute;
  top: 28px;
  left: 12px;
  -webkit-transition: border-color var(--cubic), fill var(--cubic);
  transition: border-color var(--cubic), fill var(--cubic);
}

.hero__title {
  max-width: 696px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}

.specificity__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.join__title,
.subscribe__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}

.product__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.modal__title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal__frame {
  display: block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  -webkit-transition: border-color var(--cubic), background-color var(--cubic);
  transition: border-color var(--cubic), background-color var(--cubic);
}

.modal__label {
  margin-bottom: 4px;
}

.modal__form {
  padding: 40px;
}

.modal__policy {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.modal__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__primary-field {
  margin-bottom: 20px;
}

.modal__second-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}
.modal__second-field:not(:last-child) {
  margin-bottom: 10px;
}

.modal__input {
  padding: 0;
  padding: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--cubic), fill var(--cubic), outline var(--cubic);
  transition: border-color var(--cubic), fill var(--cubic), outline var(--cubic);
}
.modal__input:hover, .modal__input:focus {
  border-color: var(--accent-cl);
  fill: var(--accent-cl);
  outline: var(--accent-cl);
}

.modal__input--view {
  height: 120px;
  padding-left: 16px;
}
.modal__input--view::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__input--view::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__input--view:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__input--view::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__input--view::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal__checkbox:checked ~ .modal__frame {
  background-color: var(--accent-cl);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-cl);
}

.modal__option:hover > .modal__frame,
.modal__option:focus-within > .modal__frame {
  border-color: var(--accent-cl);
}

.modal__input:hover + .modal__icon,
.modal__input:focus + .modal__icon {
  border-color: var(--accent-cl);
  fill: var(--accent-cl);
  outline: var(--accent-cl);
}

.subscribe {
  margin-left: 93px;
}

.subscribe__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__input {
  display: block;
  padding: 15px 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: outline var(--cubic);
  transition: outline var(--cubic);
}
.subscribe__input:focus {
  outline: transparent;
}

.modal__link {
  color: var(--accent-cl);
  text-decoration: underline;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: visibility var(--cubic), opacity var(--cubic);
  transition: visibility var(--cubic), opacity var(--cubic);
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--white);
  -webkit-transition: -webkit-transform var(--cubic);
  transition: -webkit-transform var(--cubic);
  transition: transform var(--cubic);
  transition: transform var(--cubic), -webkit-transform var(--cubic);
}

.modal .backdrop--hidden {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.product__thumb {
  position: relative;
  overflow: hidden;
}

.product__overlay {
  position: absolute;
  display: inline-block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--cubic);
  transition: -webkit-transform var(--cubic);
  transition: transform var(--cubic);
  transition: transform var(--cubic), -webkit-transform var(--cubic);
}

.product__text {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  letter-spacing: 0.03em;
  color: var(--white);
}

.product__link:hover .product__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header {
  border-bottom: 1px solid var(--border);
}

.header__logo {
  margin-right: 93px;
}

.header__part {
  color: var(--black);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-cl);
}

.nav__link--curr {
  color: var(--accent-cl);
}
.nav__link--curr::after {
  position: absolute;
  right: 0;
  bottom: -1px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-cl);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__mail:hover, .contacts__mail:focus,
.contacts__phone:hover,
.contacts__phone:focus {
  color: var(--accent-cl);
}

.hero {
  max-width: 1600px;
  height: 600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hw04/hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hw04/hero.jpg);
}

.specificity__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.specificity__item {
  width: 270px;
}
.specificity__item:not(:last-child) {
  margin-right: 30px;
}

.to-do {
  padding-top: 0;
}

.to-do__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.to-do__text {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  color: var(--white);
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
}

.to-do__img {
  position: relative;
}
.to-do__img:not(:last-child) {
  margin-right: 30px;
}

.team {
  background-color: var(--secondary-backgr-cl);
}

.team__person {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__info {
  padding: 30px 10px;
}

.team__position {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.team__item {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__item:not(:last-child) {
  margin-right: 30px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--client-color);
  border-radius: 4px;
  color: var(--client-color);
  -webkit-transition: color var(--cubic), border var(--cubic);
  transition: color var(--cubic), border var(--cubic);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-cl);
  color: var(--accent-cl);
}

.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--primary-backgr-cl);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__part {
  color: var(--white);
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  font-style: normal;
  width: 231px;
}

.address__text {
  margin-bottom: 9px;
  color: var(--white);
}

.address__mail {
  -webkit-transition: color var(--cubic);
  transition: color var(--cubic);
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
}
.address__mail:hover, .address__mail:focus {
  color: var(--accent-cl);
}

.address__phone {
  -webkit-transition: color var(--cubic);
  transition: color var(--cubic);
  color: rgba(255, 255, 255, 0.6);
}
.address__phone:hover, .address__phone:focus {
  color: var(--accent-cl);
}

.join {
  margin-left: 70px;
}

.join__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.product__item {
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.product__description {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid var(--border-portfolio);
  border-top: none;
}

.product__type {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.product__link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--cubic);
  transition: -webkit-box-shadow var(--cubic);
  transition: box-shadow var(--cubic);
  transition: box-shadow var(--cubic), -webkit-box-shadow var(--cubic);
}
.product__link:hover, .product__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}/*# sourceMappingURL=main.css.map */