.footer {
  @extend %section;
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--primary-backgr-cl);
}
.footer__container {
  @extend %container;
  display: flex;
  align-items: baseline;
}
.footer__logo {
  margin-bottom: 20px;
  @extend %view-logo;
}
.footer__part {
  color: var(--white);
}
