.header {
  border-bottom: 1px solid var(--border);
}
.header__logo {
  margin-right: 93px;
  @extend %view-logo;
}
.header__part {
  color: var(--black);
}
.header__container {
  display: flex;
  align-items: center;
  @extend %container;
}
