.nav__list {
  display: flex;
}
.nav__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.nav__link {
  @extend %view-header-link;

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav__link--curr {
  color: var(--accent-cl);
  &::after {
    position: absolute;
    right: 0;
    bottom: -1px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-cl);
  }
}
