.specificity {
  @extend %section;
}
.specificity__container {
  @extend %container;
}
.specificity__list {
  display: flex;
}
.specificity__text {
  @extend %view-text;
}
.specificity__item {
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
