.team {
  background-color: var(--secondary-backgr-cl);
  @extend %section;
}
.team__container {
  @extend %container;
}
.team__person {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}
.team__list {
  display: flex;
}
.team__info {
  padding: 30px 10px;
}
.team__position {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}
.team__item {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  &:not(:last-child) {
    margin-right: 30px;
  }
}
