@media screen and(min-width: 768px) {
  .specificity__container {
    @include width(768px);
  }

  .specificity__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--indent);
  }
  .specificity__item {
    text-align: start;
    width: 354px;
    --items: 2;
    flex-basis: calc((100% - (var(--indent)) * var(--items) - 1) / (var(--items)));
  }
}
