@media screen and(min-width: 768px) {
  .team__container {
    @include width(768px);
  }
  .team__list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
  }
  .team__item {
    width: 354px;
  }
}
