.portfolio {
  @extend %section;
}
.portfolio__container {
  @extend %container;
  @include width(480px);
}
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  width: 330px;
  row-gap: 15px;
  column-gap: 8px;
  margin-bottom: 40px;
}
