.modal__frame {
  display: block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  transition: border-color var(--cubic), background-color var(--cubic);
}

.modal__label {
  margin-bottom: 4px;
}
.modal__form {
  padding: 40px;
}
.modal__policy {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.modal__option {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.modal__primary-field {
  margin-bottom: 20px;
}
.modal__second-field {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.modal__input {
  padding: 0;
  padding: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--cubic), fill var(--cubic), outline var(--cubic);

  &:hover,
  &:focus {
    border-color: var(--accent-cl);
    fill: var(--accent-cl);
    outline: var(--accent-cl);
  }
}
.modal__input--view {
  height: 120px;
  padding-left: 16px;
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal__checkbox {
  appearance: none;
}

.modal__checkbox:checked ~ .modal__frame {
  background-color: var(--accent-cl);

  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-cl);
}

.modal__option:hover > .modal__frame,
.modal__option:focus-within > .modal__frame {
  border-color: var(--accent-cl);
}
.modal__input:hover + .modal__icon,
.modal__input:focus + .modal__icon {
  border-color: var(--accent-cl);
  fill: var(--accent-cl);
  outline: var(--accent-cl);
}
.subscribe {
  margin-left: 93px;
}
.subscribe__field {
  display: flex;
}
.subscribe__input {
  display: block;
  padding: 15px 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  transition: outline var(--cubic);
  &:focus {
    outline: transparent;
  }
}
.modal__link {
  color: var(--accent-cl);
  text-decoration: underline;
}
