.address {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-style: normal;
  width: 231px;
}
.address__text {
  margin-bottom: 8px;
  color: var(--white);
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
.address__mail {
  transition: color var(--cubic);
  margin-bottom: 8px;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--transp-white);
  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}
.address__phone {
  transition: color var(--cubic);
  color: var(--transp-white);
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}
