:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white: #ffffff;
  --primary-backgr-cl: #2f303a;
  --accent-cl: #2196f3;
  --black: #000000;
  --transp-white: rgba(255, 255, 255, 0.6);
  --border: #ececec;
  --secondary-backgr-cl: #f5f4fa;
  --main-btn-hover: #188ce8;
  --border-portfolio: #eeeeee;
  --client-color: #afb1b8;
  --social-f-col: rgba(255, 255, 255, 0.1);

  --main-font: 'Roboto', sans-serif;
  --secondaty-font: 'Raleway', sans-serif;

  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
